# Google Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"

# IDs já configurados
GOOGLE_SHEETS_ID=1Ab2IBTmaHds5u2StUgaQP1siVuYMJTNVyRCQISH8ajU
GOOGLE_DRIVE_FOLDER_ID=1wClR0tYmvYg1nWwWA8tOJ2m_0X2TN44I
